/* 

Non-JQuery Styling Elements for index.html

*/

body{
    color:#153F51;
    background-image: linear-gradient(rgb(117, 191, 255), rgb(191, 181, 255));
}

input,select,button,textarea{
    font-family: 'DM Serif Display', serif;
    background-color: white;
    color: #1F3038;
	border-radius: 0.5em;
}

table{
	width: 100%;
	justify-content: center;
	text-align: center;
}

td {
	text-align: center;
	
}

table tbody tr:hover {
	background-color: white;
	cursor: pointer;
	font-weight: bold;
}

#showHost div {
	border: #1F3038;
}

.form_div {
    padding: 2em;
    background-color: #92B6B1;
    color: #153F51;
}

.form_div input[type=text], input[type=tel], textarea {
    width: 100%;
    padding: 0.5em;
    box-sizing: border-box;
}

tr:hover {
	background-color: white;
	cursor: pointer;
	font-weight: bold;
}
