/* 

Non-JQuery Styling Elements for index.html

*/

body{
    color:#153F51;
    background-image: linear-gradient(rgb(187, 227, 255), rgb(198, 189, 255));
}

h1, h2, h3, h4, h5, h6, h7, h8 {
    size: 2em;
}

input,select,button,textarea{
    font-family: 'DM Serif Display', serif;
    background-color: white;
    color: #1F3038;
	border-radius: 0.75em;
}

table {
	width: 100%;
	justify-content: center;
	text-align: center;
}

td {
	text-align: center;
}

table tbody tr:hover {
	background-color: white;
	cursor: pointer;
	font-weight: bold;
}

#showHost div {
	border: #1F3038;
}

.form_div {
    padding: 2em;
    width: 75%;
    margin: auto;
}

.form_div input[type=text], input[type=tel], input[type=email], textarea, 
button, input[type=datetime-local] {
    width: 100%;
    padding: 0.5em;
    margin: 0.25em;
    box-sizing: border-box;
    text-align: center;
}

tr:hover {
	background-color: white;
	cursor: pointer;
	font-weight: bold;
}
